

<div class="media">
  <div class="media-left">
    <% if user.avatar.url.present? %>
        <%= image_tag(user.avatar.url) %>
    <% else %>  
    <a href="#">
      <img class="media-object" src="http://placehold.it/50x50" alt="...">
    </a>
    <% end %>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= link_to user.name.capitalize, user %> <%= user.lastname.capitalize %></h4>
    	<li> Joined <%= user.created_at.strftime("%m-%d-%y") %></li>
    	<li>Works for <%= user.company %> as <%= user.title %></li>
      <li><%= user.email %></li>
  </div>
</div>