
<% if user_signed_in? %>

<div class="col-md-3">
</div>

<div class="col-md-6">

	<div class="row">
		<%= render 'form' %></br>
	</div>

	<div class="row">
	 	<%= posts_tree_for @posts %>

	</div>
</div>

<div class="calendar col-md-3">
   <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Next Glengarry Event!</div>
  
  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item"><%= link_to "8/8/15 Scramble Golf Tourney", static_pages_path %></li>
  </ul>
</div>


</div>

<% else %>
        
        <div class="jumbotron">
            <div class="home-content">
                <div class="home-content-inner">
                    <h1>Welcome to the club.</h1>
                    
                    <p>Glengarry Highlands is a community for top salespeople.</p>
                    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-default" %>
                    <%= link_to "Log in", new_user_session_path, class: "btn btn-default" %>
                </div>
            </div>
       </div>

<% end %>

